#product_view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px 60px 30px 30px;
  background: #e1c2fd;

  display: grid;
  grid-template-columns: 60% 40%;
  align-content: center;
  column-gap: 30px;
  row-gap: 55px;

  z-index: 300;
}

#product_view.single_column {
  grid-template-columns: 1fr;
  padding-right: 35px;
  column-gap: 0;
  row-gap: 40px;
}

#product_view .head {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#product_view .head span {
  cursor: pointer;
  font-weight: 600;
}

#product_view .gallery {
  width: fit-content;
  height: 80vh;
}

#product_view .gallery.scroll {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
}

#product_view .gallery.scroll img {
  border-radius: 10px;
  border: none;
  cursor: default;
}

#product_view .product_image {
  width: 600px;
  height: 600px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  border: 2px solid #b578fa;
  cursor: pointer;
}

.image_prev {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.image_prev span {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.image_prev span img {
  width: 100%;
  border-radius: 5px;
}

#product_view .product_control {
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* font-weight: 600; */
}
